{% extends 'base.html.twig' %}

{% block title %}Home!
{% endblock %}

{% block body %}
	<h1>Produit index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Prix</th>
				<th>Stock</th>
				<th>Photo</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr>
					<td>{{ produit.id }}</td>
					<td>{{ produit.Nom }}</td>
					<td>{{ produit.Description }}</td>
					<td>{{ produit.Prix }}</td>
					<td>{{ produit.Stock }}</td>
					<td>
						<img width="50" src="{{ asset("images/") ~ produit.Photo }}.jpg" alt="{{ produit.Photo }}"/>
						{{ produit.Photo }}</td>
					<td>
						<div class="btn">
							<a href="{{ path('produit_show', {'id': produit.id}) }}">Voir
							</a>
						</div>
						{% if is_granted('ROLE_ADMIN') %}
							<div class="btn">
								<a href="{{ path('produit_edit', {'id': produit.id}) }}">Editer</a>
							</div>
						{% endif %}
						<div class="btn">
							<a href="{{ path('contenu_panier_new', {'id': produit.id} ) }}">Ajout</a>

						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</td>
</tr></tbody></tbody></table>{# Si l'utilisateur est authentifié et qu'il est admin #}{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('produit_new') }}">Ajouter un produit</a>{{form(ajout_form)}}{% endif %}{% endblock %}
